# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store

# Python Cache
.pytest_cache/
.mypy_cache/

# Logs
*.log